<h1>{{title}}</h1>
<p>Welcome to {{title}} page.</p>

<button id="add-button" onclick="location.href = '/add-wave'">Add Wave</button>

<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
<script src="javascripts/check_auth.js"></script>
