<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/" class="nav-link">Home</a>
      <a href="/about" class="nav-link" >About</a>

      <div id="nonauth-user" class="auth">
        <a href="/register" class="nav-link" >Register</a>
        <a href="/login" class="nav-link" >Login</a>
      </div>

      <div id="auth-user" class="auth">
        <a href="/dashboard" class="nav-link" >Dashboard</a>
        <button id="logout-button" type="button" onclick="logout()">Logout</button>
      </div>
    </nav>
    <main>
      {{{body}}}
    </main>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="javascripts/main.js"></script>
    <script src="javascripts/nav_auth.js"></script>
  </body>
</html>
