<h1>{{title}}</h1>

<form>
    <p id="msg-alert"></p>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" class="form-input" value="">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" class="form-input" value="">
    <button type="button" onclick="login_user()">Submit</button>
</form>
