<h1>{{title}}</h1>
<p>Register a new user.</p>

<form>
  <p id="msg-alert"></p>
  <label for="email">Email:</label>
  <input type="email" id="email" name="email" class="form-input" value="" />
  <label for="username">Username:</label>
  <input
    type="text"
    id="username"
    name="username"
    class="form-input"
    value=""
  />
  <label for="password">Password:</label>
  <input
    type="password"
    id="password"
    name="password"
    class="form-input"
    value=""
  />
  <label for="cfm-pass">Confirm:</label>
  <input
    type="password"
    id="cfm-pass"
    name="cfm-pass"
    class="form-input"
    value=""
  />
  <button type="button" onclick="register_user()">Submit</button>
</form>